body{
    background-color: rgb(49, 49, 49);
  
}
h3{
    padding-top: 30px;
}
.about-image{
    border-radius: 15%;
    align-items: center;
    
}
.image{
   padding-left: 50px;
    padding-top: 100px;
}
p{
    text-align: center;
    font-size: larger;
    padding-right: 56px;
    padding-top: 100px;
    
}
.skills-section{
    box-shadow: 200px;
}