.container-fluid{
    background:linear-gradient(45deg, rgb(27, 165, 27) 50%, rgb(49, 49, 49) 50%);
    margin-top: 20pxpx;
    
}
.description{
    margin-top: 120px;
    text-align: center;
    color: whitesmoke;
}
.pictorial{
    color: whitesmoke;
    
    
}
.text{
    margin-left: 60px;
    text-align: center;
}
.img-fluid{
    border-radius: 50%;
 
}
button{
    padding: 10px 20px;
    background-color:rgb(27, 165, 27) ;
}
.navbar{
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    background-color: whitesmoke;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
nav ul li a:hover{
color: darkred;
transition: 3ms;

}

nav select{
    display: none;
}

@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
  }

