.container{
    background:linear-gradient(45deg, yellow 50%, black 50%);
}
.description{
    margin-top: 120px;
    text-align: center;
}
.pictorial{
    color: whitesmoke;
    
    
}
.text{
    margin-left: 60px;
    text-align: center;
}
.img-fluid{
    border-radius: 50%;
 
}
button{
    padding: 10px 20px;
}
