.container-fluid{
    background:linear-gradient(45deg, rgb(27, 165, 27) 50%, rgb(49, 49, 49) 50%);
    margin-top: 20pxpx;
    
}
.description{
    margin-top: 120px;
    text-align: center;
    color: whitesmoke;
}
.pictorial{
    color: whitesmoke;
    
    
}
.text{
    margin-left: 60px;
    text-align: center;
}
.img-fluid{
    border-radius: 50%;
 
}
button{
    padding: 10px 20px;
    background-color:rgb(27, 165, 27) ;
}
 li a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
ul li{
    list-style:  none;
}
nav{
    background-color: antiquewhite;
    height: 80px;
    width: 100%;
}
label.logo{
    line-height: 80px;
    font-size: 30px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    line-height: 80px;
    font-size: 19px;
    padding: 7px 13px;
    font-weight: 600;
}
.checkbtn{
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
}
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:80px;
        left: 0;
        text-align: center;
        background-color: wheat;
        
    }
    nav ul li{
        display: block;
        
    }
}